# Accélérer l'installation sur Render
prefer-offline=true
progress=false
loglevel=error

# Ne pas télécharger Chromium avec Puppeteer
puppeteer_skip_chromium_download=true
PUPPETEER_SKIP_CHROMIUM_DOWNLOAD=true

